/.idea
/.vscode
/vendor/srmklive/paypal/tests/Mocks/samples/sample2.pdf
/vendor/srmklive/paypal/tests/Mocks/samples/sample.pdf
/.env
/.env.*
/vendor
/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/framework/cache/data/*
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/logs/*
/storage/app/public/*
/database/*.sqlite
/database/*.sqlite-journal
/storage/uploads/*
/storage/installed
/.postman
/postman